* {
    font-style: 'Brush Script MT';
    box-sizing: border-box;
    background-color:rgb(0, 0, 0);
    color:white;
}
.infobox{
    background-color: bisque;
} 

.loginbox{
    background-color: bisque;
    position:absolute;
    top:30%;
    left:30%;
    width:400px;
    padding:30px;
    transform:translate3d(50%,50%,50%);
    box-shadow: 0 15px 25px gold;
    border-radius: 10px;
}

.loginbox h1{
    background-color: bisque;
    color:rgb(50, 35, 35);
    text-align: center;
    margin:0 0 30px;
    padding:0;
}
.loginbox .infobox input{
    position:relative;
    width:100%;
    padding:10px 0;
    font-size: 15px;
    color:rgb(28, 1, 1);
    margin-bottom:30px;
    border-bottom: 1px solid white;
    background:transparent;

}

.loginbox .infobox label{
    background-color: bisque;
    color:rgb(50, 35, 35);
    position:relative;
    left:0;
    top:0px;
    padding:10px 0;
    font-size: 18px;
    pointer-events:none;
}
.loginbox .infobox input:focus,
.loginbox .infobox input:valid
{
    top:5px;
    left:0;
    color:rgb(18, 17, 16);
    font-size:16px;
    background-color:rgb(169, 162, 153);
}

#button{
    padding:10px 10px;
    font-size:15px;
    overflow:hidden;
    transition:.5s;
    letter-spacing: 4px;
    background-color:rgb(240, 206, 172);
    color:rgb(18, 17, 17);
    border: 1px solid rgb(50, 35, 35);
    margin:auto;
    border-radius: 5px;

}
#button:hover{
    background:rgb(240, 224, 107);
    color:rgb(73, 100, 17);
    border-radius: 20px;
    box-shadow: 10px 10px 30px 15px rgb(238, 207, 6);
}
.button{
    display:flex;
    flex-direction:row;
    background-color: bisque;
}
#get{
    margin:auto;
    text-align: center;
    background-color: bisque;
    color:black;
    width: 120px;
}
#get a {
    margin:auto;
    background-color:rgb(181, 154, 114);
    color:black;
    
}